[Desktop Entry]
Type=Application
Name=源影
Comment=A third-party Bilibili Client developed in Flutter
Comment[zh_CN]=使用 Flutter 开发的第三方客户端
Exec=yuanying
Icon=yuanying
Terminal=false
StartupWMClass=com.example.yuanying
Categories=Video;AudioVideo;Player;
